cmd/kvm-version-info-nfd-plugin/kvm-version-info-nfd-plugin
cmd/kvm-caps-info-nfd-plugin/kvm-caps-info-nfd-plugin
lib/*.o
lib/*.a
tags
tests/caps-info/kvm-caps-info-test
tests/version-info/kvm-version-info-test
_out
